*{
    margin:0px;
    padding:0px;
}

p{
    font-size: 2vw;
}

body{
    width:100vw;
    height:100vh;
    padding:10px;
    gap:10px;

    display: flex;
    flex-direction: column;

    background-color: rgb(52, 52, 73);
    box-sizing: border-box;
    /* border:1px solid red; */
    color:white;
}

nav{
    width:100%;
    height:5%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border:1px solid red;
}

main{
    width:100%;
    height:95%;
    padding:10px;
    gap:10px;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    /* border:1px solid red; */
}

.opp-player-container{
    width:100%;
    height:50%;
    padding:10px;
    gap:10px;
    
    display: flex;

    box-sizing: border-box;
    /* border:1px solid green; */
}

.opp-player-2-container,.opp-player-3-container,.opp-player-4-container{
    width:33%;
    height:100%;
    gap:10px;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    /* border:1px solid yellow; */
}

.player-2-info-container,.player-3-info-container,.player-4-info-container{
    width:100%;
    height:10%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border:1px solid red;
}

.player-2-card-container,.player-3-card-container,.player-4-card-container{
    width:100%;
    height:90%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border:1px solid red;
}

.main-player-container{
    width:100%;
    height:50%;
    padding:10px;
    gap:10px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    /* border:1px solid green; */
}

.game-interaction-container,.main-player-card-container,.main-player-hand-container{
    width:100%;
    height:33%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border:1px solid yellow;
}